



<mat-toolbar color="primary">
  <span>Library Management System Demo</span>
 
</mat-toolbar>

<section>
<div class="container">
  <h3 mat-dialog-title>Add new Book</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">


    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Title" [(ngModel)]="book.nomLivre" name="title" required ></textarea>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="Description" [(ngModel)]="book.descriptionLivre" name="description"  required >
      </mat-form-field>
    </div>

    

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid"  (click)="confirmAdd()">Save</button>
    </div>
  </form>
</div>
</section>

<article>
<div class="container mat-elevation-z8">

  <div class="form">
    <mat-form-field floatPlaceholder="never" color="accent">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter books">
    </mat-form-field>
  </div>

  <mat-table  matSort [dataSource]="dataSource" class="mat-cell">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.nomLivre}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.descriptionLivre}}</mat-cell>
    </ng-container>


    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="startEdit(row.id, row.nomLivre, row.descriptionLivre)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="deleteItem(row.id, row.nomLivre, row.descriptionLivre)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>



  
  
</div>
</article>
<footer>
  <p>© 2020 Smartgraphe</p>
</footer>